*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  height: 4000px;
  background: lightgreen;
  font-size: 26
}
h1{
  font-size: 40px;

}

p{
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#font-small{
  font-size: 12px;
}

header{
  height: 750px;
  /* border: 2px solid brown; */
}

.head-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:80px;
  background-color: #F4F9FD;
  z-index: 2;
  border-bottom:1px solid #33475B;
  }

.container{
  width: 70%;
  height:100%;
  margin: 0 auto;
}


.left{
  float: left;
  line-height: 80px;
}

ul#h-list-top-l li{
  display: inline-block;
  color:#33475B;
  list-style: none;
}
li > a{
  text-decoration: none;
  color:#33475B;
  padding-right: 20px;
}
li > a:hover{
  text-decoration: underline;
}
li:first-child a{
    border-right: 2px solid #33475B;
}

#border{
  border: 0;
  padding-left: 20px;
}

.right{
  float: right;
  line-height: 80px;
}
ul#h-list-top-r li{
  display: inline-block;
  color:#33475B;
  list-style: none;
  border:0;
}

.b{
  border:1px solid #FE775A;
  padding: 10px 10px;
  border-radius: 5px;
}

.b-orange{
  background-color: #FE775A;
  color: white;
  text-decoration: none;
}

.b-white{
  background-color: #33475B
  color:#FE775A;
}

.h-b-orange{
  background-color: #FE775A;
  color: white;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #FE775A;
  padding: 20px 30px;
  border-radius: 5px;
}


.head-center{
  margin-top:80px;
  height:80px;
  background-color: #F4F9FD;
}

.h-center-left{
  line-height: 100px;
  display: inline;
}
ul#h-list-center-r li{
  display: inline-block;
  color:#33475B;
  list-style: none;
}

.head-bottom{
  position: relative;
  height: 650px;
  padding-top:50px;
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-repeat: no-repeat;
  background-position: right;
}
.head-bottom::after{
  position:absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}
.small-container{
  width: 30%;
  color: #33475B;
}
