*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  height: 4000px;
  background: lightgreen;
  font-size: 26
}

header{
  height: 750px;
  /* border: 2px solid brown; */
}

.head-top{
  height:80px;
  background-color: #F4F9FD;
  border-bottom:1px solid #33475B;
  }

.container{
  width: 70%;
  height:100%;
  margin: 0 auto;
}

.left{
  float: left;
  line-height: 80px;
}

ul#h-list-top-l li{
  display: inline-block;
  color:#33475B;
  list-style: none;
}
li > a{
  text-decoration: none;
  color:#33475B;
  padding-right: 20px;
}
li > a:hover{
  text-decoration: underline;
}
li:first-child a{
    border-right: 2px solid #33475B;
}

#border{
  border: 0;
  padding-left: 20px;
}

.right{
  float: right;
  line-height: 80px;
}
ul#h-list-top-r li{
  display: inline-block;
  color:#33475B;
  list-style: none;
  border:0;
}

.b{
  border:1px solid #FE775A;
  padding: 10px 10px;
  border-radius: 5px;
}

.b-orange{
  background-color: #FE775A;
  color: white;
}
.b-white{
  background-color: #33475B
  color:#FE775A;
}

.head-center{
  height:80px;
  background-color: #F4F9FD;
}

.h-center-left{
  line-height: 100px;
  display: inline;
}
ul#h-list-center-r li{
  display: inline-block;
  color:#33475B;
  list-style: none;
}
